
body {
    background-color: #FFFAF0
;}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  position: fixed; /* Set the navbar to fixed position */
  width: 25%
  top:0;
  height: 100%; 
  background: #FFFAF0;
  font-size: 18px;
  padding: 30px;
  line-height: 1.6;
  color: black;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
/* Style the header */
header {
  padding: 1px;
  text-align: center;
  font-size: 23px;
  color: black;
  background:#FFF8DC;
  border-style: solid;
}

/* Style the article*/
article {
  float: right;
  padding: 15px;
  font-size: 17px;
  width: 76%;
  background: #FFFAF0;
}
